.listsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.listItem {
    display: flex;
    min-width: 40%;
    max-width: 40%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: lightblue;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.isDone {
    text-decoration: line-through;
}