.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    background-color: darkseagreen;
}