.userLink a {
    text-decoration: none;
    color: coral;
    border: 2px solid black;
    border-radius: 3px;
    display: block;
    text-align: center;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.userLink a:hover {
    background-color: lightblue;
    transition: 3ms;
}

.userLink a[class = 'active'] {
    color: red;
}

.userLink a span {
    font-weight: bold;
}

.userLink {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
}

.userLink button {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}