.postDetailsContainer {
margin-top: 4vh;
    max-height: 30vh;
}

.postDetailsContainerElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.postDetailsContainerElements span > h3 {
    margin-top: 0;
}