body {
    margin: 0;
}

.dogsCatsContaier {
    display: flex;
}

.form {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 5vh;
    background-color: #9882af;
    box-shadow: 0 -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}